/*a {
	text-decoration: none; 
	color:blue;
}

a:visited{
  color:blue;
}

a:hover {
	text-decoration: underline;
}

a.selected {
	font-weight: bold;
}
*/

.row {
	margin-top: 3px;
}

/*.btn {
	padding-top: 1px;
}*/
.body-component {
	padding-left: 15px;
	padding-right: 15px;
}